<!--<!doctype html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->

<!--<head th:replace="headerLinks :: headerLinks"></head>-->

<!--<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="70">-->

<!--<div th:replace="navigation :: navigation "></div>-->

<!--<section class="bg-light" id="reviews">-->

<!--    <div class="owl-theme owl-carousel reviews-slider container">-->
<!--        <div class="review">-->
<!--            <div class="person">-->
<!--                <img src="img/team_1.jpg" alt="">-->
<!--                <h5>Ralph Edwards</h5>-->
<!--                <small>Lorem ipsum dolor sit amet</small>-->
<!--            </div>-->
<!--            <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut quis, rem culpa labore voluptate-->
<!--                ullam! In, nostrum. Dicta, vero nihil. Delectus minus vitae rerum voluptatum, excepturi incidunt ut,-->
<!--                enim nam exercitationem optio ducimus!</h3>-->
<!--            <div class="stars">-->
<!--                <i class='bx bxs-star'></i>-->
<!--                <i class='bx bxs-star'></i>-->
<!--                <i class='bx bxs-star'></i>-->
<!--                <i class='bx bxs-star'></i>-->
<!--                <i class="bx bxs-star-half"></i>-->
<!--            </div>-->
<!--            <i class='bx bxs-quote-alt-left'></i>-->
<!--        </div>-->
<!--        <div class="review">-->
<!--            <div class="person">-->
<!--                <img src="img/team_2.jpg" alt="">-->
<!--                <h5>Ralph Edwards</h5>-->
<!--                <small>Lorem ipsum dolor sit amet</small>-->
<!--            </div>-->
<!--            <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut quis, rem culpa labore voluptate-->
<!--                ullam! In, nostrum. Dicta, vero nihil. Delectus minus vitae rerum voluptatum, excepturi incidunt ut,-->
<!--                enim nam exercitationem optio ducimus!</h3>-->
<!--            <div class="stars">-->
<!--                <i class='bx bxs-star'></i>-->
<!--                <i class='bx bxs-star'></i>-->
<!--                <i class='bx bxs-star'></i>-->
<!--                <i class='bx bxs-star'></i>-->
<!--                <i class="bx bxs-star-half"></i>-->
<!--            </div>-->
<!--            <i class='bx bxs-quote-alt-left'></i>-->
<!--        </div>-->
<!--        <div class="review">-->
<!--            <div class="person">-->
<!--                <img src="img/team_3.jpg" alt="">-->
<!--                <h5>Ralph Edwards</h5>-->
<!--                <small>Lorem ipsum dolor sit amet</small>-->
<!--            </div>-->
<!--            <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut quis, rem culpa labore voluptate-->
<!--                ullam! In, nostrum. Dicta, vero nihil. Delectus minus vitae rerum voluptatum, excepturi incidunt ut,-->
<!--                enim nam exercitationem optio ducimus!</h3>-->
<!--            <div class="stars">-->
<!--                <i class='bx bxs-star'></i>-->
<!--                <i class='bx bxs-star'></i>-->
<!--                <i class='bx bxs-star'></i>-->
<!--                <i class='bx bxs-star'></i>-->
<!--                <i class="bx bxs-star-half"></i>-->
<!--            </div>-->
<!--            <i class='bx bxs-quote-alt-left'></i>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<!--<section id="services" class="text-center">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-12">-->
<!--                <div class="intro">-->
<!--                    <h6>Lorem simply</h6>-->
<!--                    <h1>Lorem simply random</h1>-->
<!--                    <p class="mx-auto">Contrary to popular belief, Lorem Ipsum is not simply random text. It has-->
<!--                        roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row g-4">-->
<!--            <div class="col-lg-4 col-md-6">-->
<!--                <div class="service">-->
<!--                    <img src="img/icon1.png" alt="">-->
<!--                    <h5>Lorem simply random</h5>-->
<!--                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece-->
<!--                        of classical Latin literature from</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4 col-md-6">-->
<!--                <div class="service">-->
<!--                    <img src="img/icon2.png" alt="">-->
<!--                    <h5>Lorem simply random</h5>-->
<!--                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of-->
<!--                        classical Latin literature from</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4 col-md-6">-->
<!--                <div class="service">-->
<!--                    <img src="img/icon3.png" alt="">-->
<!--                    <h5>Lorem simply random</h5>-->
<!--                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of-->
<!--                        classical Latin literature from</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4 col-md-6">-->
<!--                <div class="service">-->
<!--                    <img src="img/icon4.png" alt="">-->
<!--                    <h5>Videography</h5>-->
<!--                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of-->
<!--                        classical Latin literature from</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4 col-md-6">-->
<!--                <div class="service">-->
<!--                    <img src="img/icon5.png" alt="">-->
<!--                    <h5>Lorem simply random text</h5>-->
<!--                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of-->
<!--                       classical Latin literature from</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4 col-md-6">-->
<!--                <div class="service">-->
<!--                    <img src="img/icon6.png" alt="">-->
<!--                    <h5>Lorem simply random text</h5>-->
<!--                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of-->
<!--                        classical Latin literature from</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<!--<section class="bg-light" id="portfolio">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-12">-->
<!--                <div class="intro">-->
<!--                    <h6>Work</h6>-->
<!--                    <h1>Lorem simply random text</h1>-->
<!--                    <p class="mx-auto">Contrary to popular belief, Lorem Ipsum is not simply random text. It has-->
<!--                        roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div id="projects-slider" class="owl-theme owl-carousel">-->
<!--        <div class="project">-->
<!--            <div class="overlay"></div>-->
<!--            <img src="img/project1.webp" alt="">-->
<!--            <div class="content">-->
<!--                <h2>Lorem simply random text</h2>-->
<!--                <h6>Random popular</h6>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="project">-->
<!--            <div class="overlay"></div>-->
<!--            <img src="img/project2.webp" alt="">-->
<!--            <div class="content">-->
<!--                <h2>Lorem simply random text</h2>-->
<!--                <h6>Random popular</h6>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="project">-->
<!--            <div class="overlay"></div>-->
<!--            <img src="img/project3.jpg" alt="">-->
<!--            <div class="content">-->
<!--                <h2>Lorem simply random text</h2>-->
<!--                <h6>Random popular</h6>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="project">-->
<!--            <div class="overlay"></div>-->
<!--            <img src="img/project4.jpg" alt="">-->
<!--            <div class="content">-->
<!--                <h2>Lorem simply random text</h2>-->
<!--                <h6>Random popular</h6>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="project">-->
<!--            <div class="overlay"></div>-->
<!--            <img src="img/project5.jpg" alt="">-->
<!--            <div class="content">-->
<!--                <h2>Lorem simply random text</h2>-->
<!--                <h6>Random popular</h6>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<!--<section id="blog">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-12">-->
<!--                <div class="intro">-->
<!--                    <h6>Blog</h6>-->
<!--                    <h1>Blog Posts</h1>-->
<!--                    <p class="mx-auto">Contrary to popular belief, Lorem Ipsum is not simply random text. It has-->
<!--                        roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-md-4">-->
<!--                <article class="blog-post">-->
<!--                    <img src="img/project5.jpg" alt="">-->
<!--                    <a href="#" class="tag">Lorem simply random</a>-->
<!--                    <div class="content">-->
<!--                        <small>01 Dec, 2022</small>-->
<!--                        <h5>Simply random text popular</h5>-->
<!--                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a-->
<!--                            piece of classical Latin literature from</p>-->
<!--                    </div>-->
<!--                </article>-->
<!--            </div>-->
<!--            <div class="col-md-4">-->
<!--                <article class="blog-post">-->
<!--                    <img src="img/project4.jpg" alt="">-->
<!--                    <a href="#" class="tag">simply random</a>-->
<!--                    <div class="content">-->
<!--                        <small>01 Dec, 2022</small>-->
<!--                        <h5>Simply random text popular</h5>-->
<!--                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a-->
<!--                            piece of classical Latin literature from</p>-->
<!--                    </div>-->
<!--                </article>-->
<!--            </div>-->
<!--            <div class="col-md-4">-->
<!--                <article class="blog-post">-->
<!--                    <img src="img/team_3.jpg" alt="">-->
<!--                    <a href="#" class="tag">Simplyrandom</a>-->
<!--                    <div class="content">-->
<!--                        <small>01 Dec, 2022</small>-->
<!--                        <h5>Simply random text popular</h5>-->
<!--                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a-->
<!--                            piece of classical Latin literature from</p>-->
<!--                    </div>-->
<!--                </article>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<!--&lt;!&ndash;    this is the footer section &ndash;&gt;-->
<!--<div th:replace="footer :: footer "></div>-->
<!--</body>-->
<!--</html>-->