<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="headerLinks :: headerLinks"></head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="70">
<div th:replace="navigation :: navigation "></div>


<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="intro">
                    <h6>Cognition</h6>
                    <h1>IMPROVING COGNITION IN THE AGING, DEMENTIA, CHRONIC SINUSES AND TRAUMATIC BRAIN INJURY IN VETERANS SPORTERS AND THE ELDERLY</SPORTERS></h1>
                    <div class="subIntro">
                        <p class="mx-auto myTextSize">We understand that chronic sinusitis affects 30 million patients in the USA alone.
                            Central Nervous System disorders are complex, debilitating diseases that affects countless patients accross the globe,
                            yet there is no cure. Our next generation MedTech is designed to bring hope to millions of people suffering from Alzheimer's
                            and other neurodegenerative diseases.
                            We believe that distribution in Georgia is a strategic position to uniquely target the optimal population in need.
                            We are therefore confident that our proposal to provide you with shipments will permit you distribute our services to these target population.
                        </p>

                        <p>
                            Noah’s Ark acknowledges that a valid prescription from a licensed physician must be presented to Kurve therapeutics for the device to be distributed to the patient.
                            Said prescription will be provided for each order placed by the Noah’s Ark prior to manufacture and distribution. No device may be redistributed to another patient without
                            adherence to the medical prescription requirements, regardless of the means of procurement of the device. This will include device returns to Noah’s Ark, who will agree to send
                            all returned devices to Kurve Therapeutics for baseline testing and resale.

                            Watch the video

                            <!--                        <a th:href="">https://kurvetx.com/the-solution/</a>-->

                            Partnership

                        </p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>



<div th:replace="footer :: footer "></div>

</body>
</html>