<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="headerLinks :: headerLinks"></head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="70">
<div th:replace="navigation :: navigation "></div>

<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="intro">
                    <h6>Community</h6>
                    <h1>ENHANCING COMMUNITY RESEARCH</h1>
                    <h3>The need is now – we are at the atrium:</h3>
                    <p class="mx-auto myTextSize">
                        Noah’s Ark Immunology, Corp looks deep into community action and concerns with regards to fighting infectious and non-infectious disease.

                        Areas of community challenges will be identified, and grants proposed to the National Institute of Heath for Research and Development.

                        Check the links below for the researchers:



                    </p>

                </div>
            </div>
        </div>
    </div>
    </div>
</section>


<div th:replace="footer :: footer "></div>
</body>
</html>