<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="headerLinks :: headerLinks"></head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="70">
<div th:replace="navigation :: navigation "></div>

    <!-- SLIDER -->
    <div class="owl-carousel owl-theme hero-slider">
        <div class="slide slide1">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center text-white items-center">
                        <img style="width:300px; height:300px; margin-left:500px;" class="image1" th:src="@{./img/logowhite.png}">
                        <h6 class="text-white text-uppercase">Giving Back You</h6>
<!--                        <h1 class="display-3 my-4">- <a th:href="@{/cognition}">Cognition</a>,<br />- <a th:href="@{/personality}">Personality</a>, Community</h1>-->
                        <div id="disk">
                            <a th:href="@{/cognition}" class="btn btn-brand ms-3">Cognition</a>
                            <a th:href="@{/personality}" class="btn btn-outline-light ms-3">Personality</a>
                            <a th:href="@{/community}" class="btn btn-brand ms-3">Community</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--        <div class="slide slide2">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-12 col-lg-10 offset-lg-1 text-white">-->
<!--                        <img style="width:300px; height:300px; opacity: 0.6" th:src="@{./img/logowhite.png}">-->
<!--                        <h6 class="text-white text-uppercase">Giving Back Your</h6>-->
<!--                        <h1 class="display-3 my-4">- Cognition, <br />- Personality <br /> Community</h1>-->
<!--                        <a href="#" class="btn btn-brand">Get Started</a>-->
<!--                        <a th:href="@{/about}" class="btn btn-outline-light ms-3">About Us</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>

<!--    &lt;!&ndash; MILESTONE &ndash;&gt;-->
<!--    <section id="milestone">-->
<!--        <div class="container">-->
<!--            <div class="row text-center justify-content-center gy-4">-->
<!--                <div class="col-lg-2 col-sm-6">-->
<!--                    <h1 class="display-4">9K+</h1>-->
<!--                    <p class="mb-0">Happy Clients</p>-->
<!--                </div>-->
<!--                <div class="col-lg-2 col-sm-6">-->
<!--                    <h1 class="display-4">4M</h1>-->
<!--                    <p class="mb-0">Story Lines</p>-->
<!--                </div>-->
<!--                <div class="col-lg-2 col-sm-6">-->
<!--                    <h1 class="display-4">19</h1>-->
<!--                    <p class="mb-0">Visitors a</p>-->
<!--                </div>-->
<!--                <div class="col-lg-2 col-sm-6">-->
<!--                    <h1 class="display-4">3K</h1>-->
<!--                    <p class="mb-0">Subscribers</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->



<!--    <section class="bg-light" id="portfolio">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-12">-->
<!--                <div class="intro">-->
<!--                    <h6>Work</h6>-->
<!--                    <h1>Successful projects</h1>-->
<!--                    <p class="mx-auto">Contrary to popular belief, Lorem Ipsum is not simply random text. It has-->
<!--                        roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div id="projects-slider" class="owl-theme owl-carousel">-->
<!--        <div class="project">-->
<!--            <div class="overlay"></div>-->
<!--            <img src="img/project1.webp" alt="">-->
<!--            <div class="content">-->
<!--                <h2>Lorem simply random text</h2>-->
<!--                <h6>Lorem simply random text</h6>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="project">-->
<!--            <div class="overlay"></div>-->
<!--            <img src="img/project2.webp" alt="">-->
<!--            <div class="content">-->
<!--                <h2>Lorem simply random</h2>-->
<!--                <h6>Lorem simply random text</h6>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="project">-->
<!--            <div class="overlay"></div>-->
<!--            <img src="img/project3.jpg" alt="">-->
<!--            <div class="content">-->
<!--                <h2>Lorem simply random</h2>-->
<!--                <h6>Lorem simply random text</h6>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="project">-->
<!--            <div class="overlay"></div>-->
<!--            <img src="img/project4.jpg" alt="">-->
<!--            <div class="content">-->
<!--                <h2>Lorem simply random text</h2>-->
<!--                <h6>Lorem simply random text</h6>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="project">-->
<!--            <div class="overlay"></div>-->
<!--            <img src="img/project5.jpg" alt="">-->
<!--            <div class="content">-->
<!--                <h2>Lorem simply random</h2>-->
<!--                <h6>Lorem simply random text</h6>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->



<!--    <section class="bg-light" id="reviews">-->

<!--        <div class="owl-theme owl-carousel reviews-slider container">-->
<!--            <div class="review">-->
<!--                <div class="person">-->
<!--                    <img src="img/team_1.jpg" alt="">-->
<!--                    <h5>Ralph Edwards</h5>-->
<!--                    <small>Lorem simply random text.</small>-->
<!--                </div>-->
<!--                <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut quis, rem culpa labore voluptate-->
<!--                    ullam! In, nostrum. Dicta, vero nihil. Delectus minus vitae rerum voluptatum, excepturi incidunt ut,-->
<!--                    enim nam exercitationem optio ducimus!</h3>-->
<!--                <div class="stars">-->
<!--                    <i class='bx bxs-star'></i>-->
<!--                    <i class='bx bxs-star'></i>-->
<!--                    <i class='bx bxs-star'></i>-->
<!--                    <i class='bx bxs-star'></i>-->
<!--                    <i class="bx bxs-star-half"></i>-->
<!--                </div>-->
<!--                <i class='bx bxs-quote-alt-left'></i>-->
<!--            </div>-->
<!--            <div class="review">-->
<!--                <div class="person">-->
<!--                    <img src="img/team_2.jpg" alt="">-->
<!--                    <h5>Ralph Edwards</h5>-->
<!--                    <small>Lorem simply random text.</small>-->
<!--                </div>-->
<!--                <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut quis, rem culpa labore voluptate-->
<!--                    ullam! In, nostrum. Dicta, vero nihil. Delectus minus vitae rerum voluptatum, excepturi incidunt ut,-->
<!--                    enim nam exercitationem optio ducimus!</h3>-->
<!--                <div class="stars">-->
<!--                    <i class='bx bxs-star'></i>-->
<!--                    <i class='bx bxs-star'></i>-->
<!--                    <i class='bx bxs-star'></i>-->
<!--                    <i class='bx bxs-star'></i>-->
<!--                    <i class="bx bxs-star-half"></i>-->
<!--                </div>-->
<!--                <i class='bx bxs-quote-alt-left'></i>-->
<!--            </div>-->
<!--            <div class="review">-->
<!--                <div class="person">-->
<!--                    <img src="img/team_3.jpg" alt="">-->
<!--                    <h5>Ralph Edwards</h5>-->
<!--                    <small>Lorem simply random text</small>-->
<!--                </div>-->
<!--                <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut quis, rem culpa labore voluptate-->
<!--                    ullam! In, nostrum. Dicta, vero nihil. Delectus minus vitae rerum voluptatum, excepturi incidunt ut,-->
<!--                    enim nam exercitationem optio ducimus!</h3>-->
<!--                <div class="stars">-->
<!--                    <i class='bx bxs-star'></i>-->
<!--                    <i class='bx bxs-star'></i>-->
<!--                    <i class='bx bxs-star'></i>-->
<!--                    <i class='bx bxs-star'></i>-->
<!--                    <i class="bx bxs-star-half"></i>-->
<!--                </div>-->
<!--                <i class='bx bxs-quote-alt-left'></i>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->

<!--    <section id="blog">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-12">-->
<!--                    <div class="intro">-->
<!--                        <h6>Blog</h6>-->
<!--                        <h1>Blog Posts</h1>-->
<!--                        <p class="mx-auto">Contrary to popular belief, Lorem Ipsum is not simply random text. It has-->
<!--                            roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-md-4">-->
<!--                    <article class="blog-post">-->
<!--                        <img src="img/project5.jpg" alt="">-->
<!--                        <a href="#" class="tag">Simply random</a>-->
<!--                        <div class="content">-->
<!--                            <small>01 Dec, 2022</small>-->
<!--                            <h5>Web Design trends in 2022</h5>-->
<!--                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a-->
<!--                                piece of classical Latin literature from</p>-->
<!--                        </div>-->
<!--                    </article>-->
<!--                </div>-->
<!--                <div class="col-md-4">-->
<!--                    <article class="blog-post">-->
<!--                        <img src="img/project4.jpg" alt="">-->
<!--                        <a href="#" class="tag">Random text</a>-->
<!--                        <div class="content">-->
<!--                            <small>01 Dec, 2022</small>-->
<!--                            <h5>Lorem simply random text</h5>-->
<!--                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a-->
<!--                                piece of classical Latin literature from</p>-->
<!--                        </div>-->
<!--                    </article>-->
<!--                </div>-->
<!--                <div class="col-md-4">-->
<!--                    <article class="blog-post">-->
<!--                        <img src="img/team_3.jpg" alt="">-->
<!--                        <a href="#" class="tag">Lorem simply random text</a>-->
<!--                        <div class="content">-->
<!--                            <small>01 Dec, 2022</small>-->
<!--                            <h5>Lorem simply random text</h5>-->
<!--                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a-->
<!--                                piece of classical Latin literature from</p>-->
<!--                        </div>-->
<!--                    </article>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->

    <!--    this is the footer section -->
    <div th:replace="footer :: footer "></div>
</body>
</html>
